html{
    scroll-behavior: smooth;
  }
  
/*Стили для головы*/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1052px;
    height: 105px;
    top: 92px;
    left: 24px;
    margin-top: 100px;
}

.header_menu{
    width: 391.48px;
    height: 22px;
    top: 44px;
    left: 26.52px;
    border: 1px;
}

.header_list_items{
    list-style: none;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}

.header_list_items_underline{
    text-decoration: underline;
    list-style: circle;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.01em;
    text-align: left;
}

.header_list_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo{
    width: 129.11px;
    height: 104.65px;
    top: 1.16px;
    left: 9.03px;
}

.header_contact_info{
    font-style: normal;
}

.header_contact{
    width: 240.52px;
    height: 98px;
    top: 5px;
    left: 786px;
    border: 1px;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: left;
    font-style: normal;
}

/*------------------------------*/

/*Стили для тела*/

.dark_jambotron{
    position: relative;
}

.jambotron{
    width: 1100px;
    height: 757px;
    top: 293px;
    margin-top: 98px;
    background-image:url(cover.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: -139px;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.jambotron::after {
    display: flex;
    content: ""; 
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.cover_title_1, .cover_subline, .cover_button, .cover_title_jambotron, .cover_button, .button{
    color: white;
    z-index: 2;
}

.cover_title_1{
    width: 1000px;
    height: 355px;
    top: 165px;
    left: 50px;
    font-family: Raleway;
    font-size: 100px;
    font-weight: 700;
    line-height: 115px;

}

.cover_subline{
    width: 637px;
    height: 28px;
    top: 667px;
    left: 78px;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    word-spacing: 18px;
    display: flex;
    justify-content: space-between;
    position: absolute;
}

.button{
    width: 256px;
    height: 51px;
    top: 655px;
    left: 794px;
    background-color: rgba(1,1,1,0);
    border: 1px solid #FFFFFF;
    border-color: white;
    font-family: Raleway;
    position: absolute;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
}

/*------------------------------*/

/*Стили для лотов тела*/

.lots{
    margin-top: 200px;
    width: 1052px;
    height: 692px;
    top: 1229px;
    left: 24px;
    color: white;
}

.cover_title_lots{
    width: 121px;
    height: 47px;
    left: 40px;
    font-family: Raleway;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
    padding-left: 45px;
    padding-bottom: 36px;
}

.dark_lots{
    position: relative;
}

.lots_list{
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.lot_1::before,
.lot_2::before,
.lot_3::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.lot_1,
.lot_2,
.lot_3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lot_1{
    width: 334px;
    height: 563px;
    top: 74px;
    background-image: url(card-lot-01.jpg);
    background-position: -100px;
    background-repeat: no-repeat;
    background-size:cover;
}

.lot_2{
    width: 334px;
    height: 563px;
    top: 74px;
    left: 359px;
    background-image: url(card-lot-02.jpg);
    background-position: -110px;
    background-repeat: no-repeat;
    background-size:cover;
}

.lot_3{
    width: 334px;
    height: 563px;
    top: 74px;
    left: 718px;
    background-image: url(card-lot-03.jpg);
    background-position: -101px;
    background-repeat: no-repeat;
    background-size:cover;
}

.main_text_1, .main_text_2, .main_text_3{
    width: 254px;
    top: 125px;
    text-decoration: underline;
    text-transform: uppercase;
    text-align: left;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 700;
    line-height: 26.4px;
    letter-spacing: 0em;
    z-index: 2;
    padding-top: 51px;
}

.main_text_1{
    height: 82px;
    left: 40px;
}

.main_text_2{
    height: 110px;
    left: 399px;
}

.main_text_3{
    height: 110px;
    left: 758px;
}

.lot_text_1, .lot_text_2, .lot_text_3{
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    z-index: 2;
}

.lot_text_1{
    width: 254px;
    height: 144px;
    top: 445px;
    left: 40px;
    padding-top: 243px;
}

.lot_text_2{
    width: 254px;
    height: 360px;
    top: 229px;
    left: 399px;
}

.lot_text_3{
    width: 254px;
    height: 264px;
    top: 325px;
    left: 758px;
    padding-top: 95px;
}

.more{
    width: 192px;
    height: 25px;
    top: 667px;
    left: 40px;
    border: 1px;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: underline;
    color: black;
    padding-left: 45px;
    padding-top: 36px;
}

/*------------------------------*/

/*Стили для информации об аукционе*/

.about{
    display: flex;
    padding-top: 100px;
    width: 1052px;
    height: 595px;
    top: 2067px;
    left: 24px;

}

.background_logo_column{
    width: 240px;
    height: 240px;
    top: 35px;
    left: 47px;
    background-color: black;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_column{
    width: 240px;
    height: 240px;
    top: 35px;
    left: 47px;
    background-image: url(images/logo-white.svg);
    max-width: 100%;
    width: 148px;
    height: 114px;
    top: 64px;
    left: 46.48px;
    background-position: center;
}

.about_column{
    width: 693px;
    height: 449px;
    top: 133px;
    left: 359px;
    padding: 3px, 0px, 0px, 0px;
    margin: auto;
}

.about_full_text{
    width: 693px;
    height: 449px;
    top: 133px;
    left: 359px;
    padding: 3 0 0 0;

}

.cover_title_about{
    width: 291px;
    height: 47px;
    top: 3px;
    padding-top: 30px;
}

.cover_title_3{
    font-family: Raleway;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0em;

}

.about_text{
    width: 693px;
    height: 312px;
    top: 150px;
    position: relative;
}

.about_text_1{
    width: 688px;
    height: 120px;
    top: 150px;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: left;

}

.about_text_2{
    width: 693px;
    height: 168px;
    top: 294px;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: left;

}

/*------------------------------*/

/*Стили для подвала*/

.footer__menu{
    padding-top: 140px;
    width: 1000px;
    height: 98px;
    top: 2842px;
    left: 50px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_contacts{
    width: 240.52px;
    height: 98px;
    top: 2842px;
    left: 50px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    font-style: normal;
}

.footer_list_menu{
    width: 149px;
    height: 64px;
    top: 2843px;
    left: 476px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    text-align: center;
    list-style: none;
}

.footer_list_items_underline{
    text-decoration: underline;
}

.footer_social_list{
    width: Hug (240px)px;
    height: Hug (48px)px;
    top: 2843px;
    left: 810px;
    gap: 48px;
    opacity: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vk, .yt, .pi{
    width: 48px;
    height: 48px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;

}

