/*Стили для головы*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1052px;
    height: 105px;
    top: 92px;
    left: 24px;
    margin-top: 100px;
}

.header_menu{
    width: 391.48px;
    height: 22px;
    top: 44px;
    left: 26.52px;
    border: 1px;
}

.header_list_items{
    list-style: none;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}

.header_list_items_underline{
    text-decoration: underline;
    list-style: circle;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.01em;
    text-align: left;
}

.header_list_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo{
    width: 129.11px;
    height: 104.65px;
    top: 1.16px;
    left: 9.03px;
}

.header_contact{
    width: 240.52px;
    height: 98px;
    top: 5px;
    left: 786px;
    border: 1px;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: left;
}

/*------------------------------*/

/*Стили для тела*/

.dark{
    position: relative;
}

.jambotron{
    width: 1100px;
    height: 757px;
    top: 293px;
    margin-top: 100px;
    background-image:url(cover.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.jambotron::after {
    display: flex;
    content: ""; 
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.cover_title_1, .cover_subline, .cover_button, .cover_title_jambotron{
    color: white;
    z-index: 2; /* Устанавливаем текст поверх затемнения */
}

.cover_title_1{
    width: 1000px;
    height: 355px;
    top: 165px;
    left: 50px;
    font-family: Raleway;
    font-size: 100px;
    font-weight: 700;
    line-height: 115px;
    letter-spacing: 0.3em;
    text-align: left;
    
}

.cover_subline{
    width: 637px;
    height: 28px;
    top: 667px;
    left: 78px;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.8em;
    text-align: left;

}

.cover_button{
    width: 256px;
    height: 51px;
    top: 655px;
    left: 794px;
    border: 1px;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    
}



.cover_title{
    background-image: url(/YandexPracticum/ono-tebe-nado/images/cover.jpg);
}

.logo_column{
    background-color: black;
}